<div id="map_canvas" style="width:50%; height:50%"></div>

<br /><br />
<!-- container for maps block -->
<div id="map" style="width: 600px; height: 400px; float: left"></div>
<!-- container for weather block -->
<div id="weather" style="width: 400px; height: 400px; float: right">Weather</div>
<%= form_for :weather, :remote => true, :url => {:action => 'show_weather'}, :html => {:id => 'post-form'} do |f| %>
  Latitude: <input class="required" type="text" name="lat" id="latitude" value="49.83771950848911" /><br/>
  Longitude: <input class="required" type="text" name="lng" id="longitude" value="24.008442163467407" />
  <%= f.submit 'Show Weather '%>
<% end %>
<%=  image_tag("ajax-loader.gif", :size => "30x30", :alt => "Ajax Loader", :style => 'display: none', :id => 'loader')%>
<h2>Your IP address: <%=  @user_ip %></h2>
<h4>Geocode info</h4>
<%= @geocode_info.inspect %>
