<!DOCTYPE html>
<html>
<head>
  <title>WheatherCaster</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "http://maps.google.com/maps?file=api&v=2&sensor=true&key=#{API_KEY}" %>
  <%= csrf_meta_tag %>
</head>
<body onload="initialize_maps()">
<%= yield %>
</body>
</html>
